<?xml version="1.0"?>
<!--
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration>
  <!-- 台南開發機 172.16.20.52 -->
  <!--<appSettings configSource="ConfigFiles\tn55-appSettings.config"/>
  <connectionStrings configSource="ConfigFiles\tn55-connectionSettings.config"/>-->
  <!-- 高聯醫開發機 192.168.20.12\DEV -->
  <appSettings configSource="ConfigFiles\Kmuh_Dev-appSettings.config" />
  <connectionStrings configSource="ConfigFiles\Kmuh_Dev-connectionSettings.config" />
  <system.web>
    <!--
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會 
            影響效能，所以只在開發期間才將 
            這個值設定為 true。

            Visual Basic 選項:
            設定 strict="true" 會不允許所有可能發生 
            資料遺失的資料型別進行轉換。 
            設定 explicit="true" 會強制宣告各項變數。
    -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Runtime.Serialization"/>
        <add namespace="System.ServiceModel"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            <authentication> 區段可以用來設定 ASP.NET 使用的安全性驗證模式，
            以識別連入的使用者。
 -->
    <authentication mode="Windows"/>
    <!--
            <customErrors> 區段可以用來設定在執行要求期間若發生未
            處理的錯誤時所要執行的動作。具體來說，它可以讓開發人
            員設定要顯示的 HTML 錯誤網頁，以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
     -->
  </system.web>


  <!--可在網頁閱覽目錄-->
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  <!--
        需要 system.webServer 區段才能在 Internet Information Services 7.0
        中執行 ASP.NET AJAX。舊版 IIS 則不需要此區段。
    -->
  <system.serviceModel>
    <diagnostics performanceCounters="All"/>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="HttpBinding" maxReceivedMessageSize="6553600">
          <readerQuotas maxStringContentLength="6553600"/>
        </binding>
        <binding name="NoSecurityBinding" maxReceivedMessageSize="6553600">
          <readerQuotas maxStringContentLength="6553600"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="FileTransferNoSecurityBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="TcpBinding" maxReceivedMessageSize="6553600" portSharingEnabled="true ">
          <readerQuotas maxStringContentLength="6553600"/>
        </binding>
      </netTcpBinding>
      <!-- Call 成醫WCF用 -->
      <basicHttpBinding>
        <binding name="FileStreamTransferServicesBinding" transferMode="Streamed" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" closeTimeout="10:10:10" sendTimeout="10:10:10" receiveTimeout="10:10:10" openTimeout="10:10:10"/>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PubPartialServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ArmServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CmmServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="PubServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="PubServiceLBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="UclServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="FtmServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="NfcServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="IccServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="IccService2Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="IccServiceLBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256"
            maxConcurrentInstances="256" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="RptServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SncServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ArmServiceBehavior" name="ArmService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding" contract="IArmService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CmmServiceBehavior" name="CmmService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding" contract="ICmmService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="PubServiceBehavior" name="PubService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding" contract="IPubService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="PubServiceLBehavior" name="PubServiceL">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding" contract="IPubServiceL">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="UclServiceBehavior" name="UclService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding" contract="IUclService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="FtmServiceBehavior" name="FtmService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="FileTransferNoSecurityBinding" contract="IFtmService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="NfcServiceBehavior" name="NfcService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding" contract="INfcService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="IccServiceBehavior" name="IccService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding" contract="IIccService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="IccService2Behavior" name="IccService2">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding" contract="IIccService2">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="IccServiceLBehavior" name="IccServiceL">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurityBinding" contract="IIccServiceL">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="RptServiceBehavior" name="RptService">
        <endpoint address="" binding="wsHttpBinding" contract="IRptService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SncServiceBehavior" name="SncService">
        <endpoint address="" binding="wsHttpBinding" contract="ISncService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>