<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OPDAPP.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="wcfdomain" value="192.168.11.61" />
    <add key="wcfusername" value="Administrator" />
    <add key="wcfpassword" value="reg@0415" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--cleint端暫存的資料夾-->
    <add key="TempFile" value="C:\TempFile\" />
    <!--最大日期設"2910/12/31",因應最大的民國年"999/12/31"的關係-->
    <add key="maxDefaultDate" value="2910/12/31" />
    <!--影像資料設定-->
    <add key="Working_FilePath" value="C:\TempFile\" />
    <!--逆時針90度  順時針90度  順時針180度  不旋轉-->
    <add key="Default_Rotation" value="逆時針90度" />
    <!--檔案系統八碼，如果是 EMR 系統，這裡填入八碼病歷號 -->
    <add key="FileSystem_Type" value="HEMFilUP" />
    <!--起啟之截取影像縮放比例-->
    <add key="Init_EnLarge" value="70%" />
    <!-- 判斷院區(TRUE:高市聯合醫院；FALSE：分院)-->
    <add key="general" value="TRUE" />
    <!-- 判斷DateTimePicker預設顯示(TRUE:西元年；FALSE：民國年)-->
    <add key="isDefaultDisplayUS" value="FALSE" />
    <!-- 判斷高聯醫環境(0：正式機 1：測試機 2：開發機 3:建檔機)-->
    <add key="kmuh_env" value="2" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- 這個區段定義 My.Application.Log 的記錄組態-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    
   
    <!--本機-->
    <bindings configSource="bindings.config" />
    <client configSource="client-Local.config" />
    
    
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>-->
  <applicationSettings>
    <OPDAPP.Settings>
      <setting name="debug" serializeAs="String">
        <value>N</value>
      </setting>
    </OPDAPP.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>