<?xml version="1.0" encoding="utf-8" ?>
<client>

  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/JOBService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJOBService" contract="JOBServiceReference.IJOBService" name="WSHttpBinding_IJOBService">
    <identity>
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/UclService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUclService"
                contract="UclServiceReference.IUclService" name="WSHttpBinding_IUclService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/ArmService.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IArmService"
      contract="ArmServiceReference.IArmService" name="WSHttpBinding_IArmService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/RptService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRptService"
        contract="RptServiceReference.IRptService" name="WSHttpBinding_IRptService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/CmmService.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICmmService"
      contract="CmmServiceReference.ICmmService" name="WSHttpBinding_ICmmService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/FtmServiceL.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFtmServiceL"
      contract="FtmServiceLReference.IFtmServiceL" name="WSHttpBinding_IFtmServiceL">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/FtmService.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFtmService"
      contract="FtmServiceReference.IFtmService" name="WSHttpBinding_IFtmService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>

  
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/NfcService.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INfcService"
      contract="NfcServiceReference.INfcService" name="WSHttpBinding_INfcService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>

  
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/PubService.svc"
      binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPubService"
      contract="PubServiceReference.IPubService" name="WSHttpBinding_IPubService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>

  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/PubServiceL.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPubServiceL"
    contract="PubServiceLReference.IPubServiceL" name="WSHttpBinding_IPubServiceL">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>

  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/APIService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAPIService"
                contract="APIServiceReference.IAPIService" name="WSHttpBinding_IAPIService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>


  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/IccService.svc" binding="wsHttpBinding"
              bindingConfiguration="WSHttpBinding_IIccService" contract="IccServiceReference.IIccService"
              name="WSHttpBinding_IIccService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>

  
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/IccService2.svc" binding="wsHttpBinding"
              bindingConfiguration="WSHttpBinding_IIccService2" contract="IccService2Reference.IIccService2"
              name="WSHttpBinding_IIccService2">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>
  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/IccServiceL.svc" binding="wsHttpBinding"
              bindingConfiguration="WSHttpBinding_IIccServiceL" contract="IccServiceLReference.IIccServiceL"
              name="WSHttpBinding_IIccServiceL">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>

  <endpoint address="http://hisap2.syscom.com.tw:8086/JOBService/SncService.svc" binding="wsHttpBinding"
              bindingConfiguration="WSHttpBinding_ISncService" contract="SncServiceReference.ISncService"
              name="WSHttpBinding_ISncService">
    <identity>
      <dns value="localhost" />
    </identity>
  </endpoint>

</client>

