<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OPDAPP.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--單獨更新Dll的FTP路徑-->
    <!--正式機-->
    <!--<add key="UpdateFTPAddress" value="ftp://192.168.20.2/KMUH_HISAPP/Client" />
    <add key="UpdateFTPUser" value="rptUser" />
    <add key="UpdateFTPPassWord" value="7C8B31AD41A4EFBED666E00B4701E19B" />
    <add key="RunAppAfterUpdate" value="Y" />
    <add key="app_Name" value="OPDAPP" />
    <add key="Exe_Name" value="OPDAPP.exe" />-->
    <!--!測試機-->
    <add key="UpdateFTPAddress" value="ftp://Win-2017.syscom.com.tw/JOBCompare/Client" />
    <add key="UpdateFTPUser" value="ftpUser" />
    <add key="UpdateFTPPassWord" value="0DE6BCDC1215BF37" />
    <add key="RunAppAfterUpdate" value="Y" />
    <add key="app_Name" value="JOBAPP" />
    <add key="Exe_Name" value="JOBAPP.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- 這個區段定義 My.Application.Log 的記錄組態-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>-->
  <applicationSettings>
    <OPDAPP.Settings>
      <setting name="debug" serializeAs="String">
        <value>N</value>
      </setting>
    </OPDAPP.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>