<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- 這個區段定義 My.Application.Log 的記錄組態-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUclService">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IArmService">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICmmService">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IFtmService">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IIccService2">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IIccService">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IPubService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IRptService" />
                <binding name="WSHttpBinding_INfcService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IIccServiceL">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ISncService" />
                <binding name="WSHttpBinding_IPubServiceL">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40611/UclService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUclService" contract="UclServiceReference.IUclService"
                name="WSHttpBinding_IUclService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/ArmService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IArmService" contract="ArmServiceReference.IArmService"
                name="WSHttpBinding_IArmService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/CmmService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICmmService" contract="CmmServiceReference.ICmmService"
                name="WSHttpBinding_ICmmService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/FtmService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFtmService" contract="FtmServiceReference.IFtmService"
                name="WSHttpBinding_IFtmService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/IccService2.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IIccService2" contract="IccService2Reference.IIccService2"
                name="WSHttpBinding_IIccService2">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/IccService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IIccService" contract="IccServiceReference.IIccService"
                name="WSHttpBinding_IIccService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/PubService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IPubService" contract="PubServiceReference.IPubService"
                name="WSHttpBinding_IPubService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/RptService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRptService" contract="RptServiceReference.IRptService"
                name="WSHttpBinding_IRptService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/NfcService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_INfcService" contract="NfcServiceReference.INfcService"
                name="WSHttpBinding_INfcService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/IccServiceL.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IIccServiceL" contract="IccServiceLReference.IIccServiceL"
                name="WSHttpBinding_IIccServiceL">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:40611/SncService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISncService" contract="SncServiceReference.ISncService"
                name="WSHttpBinding_ISncService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:1224/PubServiceL.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IPubServiceL" contract="PubServiceLReference.IPubServiceL"
                name="WSHttpBinding_IPubServiceL">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
