<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ADSPrePath"  value="LDAP://172.16.20.53/" />
  <add key="ADAdmin"  value="AdAdmin" />
  <add key="ADPassword"  value="Pa$$w0rd" />
  <add key="ADAuth" value ="N"/>
  <add key="ADSUserPath"  value="OU=Employee,DC=adserver,DC=nckuh" />
  <add key="ADSRolePath"  value="OU=Role,OU=Employee,DC=adserver,DC=nckuh" />
  <add key="ADSValidDate"  value="2000" />
  <add key="MaxConn"  value="5" />
  <add key="CheckStatus"  value="180000"/>
  <add key="ConnIP"  value="140.116.253.119" />
  <add key="ConnPort"  value="5555" />
  <add key="BytesLength"  value="1023" />
  <add key="TempFile" value="C:\TempFile" />

  <!--網路芳鄰和網路磁碟機 設定 0=Ftp Server 1=網路芳鄰   -->
  <add key="isDeviceFlag"  value="0" />

  <!--!File Server 網芳-->
  <add key="fsUserID"  value="ftpUser" />
  <add key="fsUserPW"  value="syscom@123" />
  <add key="UNCPath"  value="\\192.168.20.61\FileServer" />

  <!--FS 暫時性解決 包藥機-->
  <add key="fsUserID76"  value="ftpUser" />
  <add key="fsUserPW76"  value="syscom" />
  <add key="UNCPath76"  value="ftp://220.128.174.140" />

  <!--高市聯醫File Server FTP D:\FileServer 藥包機=FileServer\DrugPack-->
  <add key="ftpUser"  value="ftpUser" />
  <add key="ftpPwd"  value="syscom" />
  <add key="ftpURL"  value="ftp://220.128.174.140" />

  <!--高市聯醫QRCode 圖檔 Printer Demon Sever FTP-->
  <add key="ftpQRCUser"  value="printUser" />
  <add key="ftpQRCPwd"  value="syscom@123" />
  <add key="ftpQRCURL"  value="ftp://220.128.174.140" />

  <add key="hisDBName"  value="OPDDB" />
  <add key="emrDBName"  value="EMRDB" />
  <add key="cncDBName"  value="PCSDB" />
  <add key="CommDBName"  value="NCKM_Common" />
  <add key="ListName"  value="HSYS" />
  <!-- 報表權限使用者 (office) -->
  <add key="rptUserID"  value="wcfuser" />
  <add key="rptUserDomain"  value="hosp" />
  <add key="rptUserPW"  value="abc@123" />

  <!--MSMQ Setting-->


  <!--一般AP程式使用的MSMQ-->
  <add key="APPMSMQMPath"  value="FormatName:DIRECT=TCP:192.168.13.120\private$\APPQueue"/>
  <add key="APPMSMQMPathTx"  value="FormatName:DIRECT=TCP:192.168.13.120\private$\APPQueueTx"/>

  <!-- 後端列印機制使用的MSMQ -->
  <add key="RPTMSMQMPath"  value="FormatName:DIRECT=TCP:192.168.13.120\private$\RPTQueue"/>
  <add key="RPTMSMQMPathTx"  value="FormatName:DIRECT=TCP:192.168.13.120\private$\RPTQueueTx"/>

  <!-- 敏感資料備份 使用的MSMQ -->
  <add key="BKTMSMQMPath"  value="FormatName:DIRECT=TCP:192.168.13.120\private$\BKTQueue"/>
  <add key="BKTMSMQMPathTx"  value="FormatName:DIRECT=TCP:192.168.13.120\private$\BKTQueueTx"/>

  <!--  Notification Module 使用的MSMQ -->
  <add key="NFCMSMQMPath"  value="FormatName:DIRECT=TCP:192.168.13.120\private$\NFCQueue"/>
  <add key="NFCMSMQMPathTx"  value="FormatName:DIRECT=TCP:192.168.13.120\private$\NFCQueueTx"/>
  <!--  Notification Module 使用的Mail -->
  <add key="SMTPSenderName"  value="門診系統 Mail OP"/>
  <add key="SMTPSender"  value="op@mail.hosp.ncku.edu.tw"/>
  <add key="SMTP"  value="140.116.59.233"/>
  <add key="SMTPID"  value="op"/>
  <add key="SMTPPW"  value="lovelife"/>
  <add key="SQLStringApplicationName"  value="1"/>
  <!-- 1 代表顯示到 dll, 2 代表顯示到 class , 3 代表顯示到 method -->

  <!-- 高雄市聯合醫院-->
  <add key="Hospital_Code" value="0102020011"/>

  <!--!EFS File Server 圖片 2013.12.20 add by Rudolf-->

  <add key="efsUserID"  value="rptUser" />
  <add key="efsUserPW"  value="syscom@138" />
  <add key="efsPath"  value="\\192.168.20.61\FileServer\EFS-FTP" />

  <!--Aspx路徑-->
  <add key="Aspx_Path"  value="http://192.168.20.8/HISService/OPD/Aspx/" />

  <!--儀器連線-->
  <!-- 僅有正式環境，故清空-->
  <add key="LIS_Machine_Path"  value="" />
  <add key="LIS_Machine_Path_Bac"  value="" />

  <!--耀瑄EEC電子病歷介接-->
  <add key="EEC_WebEmr_Path"  value="http://192.168.20.201:9090/webemr" />

  <!-- EMR系統上傳資訊-->
  <add key="PostUserId"  value="his" />
  <add key="PostPassword"  value="hishis" />
  <add key="PostUrl"  value="192.168.20.202:9090/webemr" />

  <!-- 電子病歷上傳(門診醫囑、出院病摘、血液檢驗)-->
  <add key="PostUserId"  value="his" />
  <add key="PostPassword"  value="hishis" />
  <add key="EMR"  value="http://192.168.20.201:9090/webemr/" />
</appSettings>

