<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

  <!--SyBaseDBConnectionString  SyBase-->
  <add name="SyBaseDBConnectionString"
        connectionString="Data Source=118.163.166.34;Port=5000;Database=HISDB;User Id=sqlpro;Password=his@138;"
        providerName="Sybase.Data.AseClient" />

  <!--公司內部開發機-->
  <add name="EmrDBConnectionString"
          connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
          providerName="System.Data.SqlClient" />
  
  <add name="NisDBConnectionString"
          connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
          providerName="System.Data.SqlClient" />

  <add name="OpdDBConnectionString"
          connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
          providerName="System.Data.SqlClient" />

  <add name="EisDBConnectionString"
          connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
          providerName="System.Data.SqlClient" />

  <add name="PcsDBConnectionString"
          connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
          providerName="System.Data.SqlClient" />
 
  <add name="ArmDBConnectionString"
        connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI"
        providerName="System.Data.SqlClient" />

  <add name="PubDBConnectionString"
        connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI;Max Pool Size=50;Min Pool Size=5;Pooling=True"
        providerName="System.Data.SqlClient" />

  <add name="SerialNoConnectionString"
      connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI;Max Pool Size=50;Min Pool Size=5;Pooling=True"
      providerName="System.Data.SqlClient" />


  <!--新增備份檔連線設定-->
  <add name="BKDBConnectionString"
       connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI"
       providerName="System.Data.SqlClient" />

  <!--DB LOG 連線設定 by Roger-->
  <add name="DBLogConnectionString"
        connectionString="Data Source=118.163.166.34;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Max Pool Size=50;Min Pool Size=5;Pooling=True"
        providerName="System.Data.SqlClient" />

  <!--Begin ***************************************************************************************************************************************************************************-->
  <!--電子表單(EFS)-->
  <add name="EfsDBConnectionString"
          connectionString="Data Source=127.0.0.1;Initial Catalog=EFSDB;User ID=sa;Password=Admin@138;Application Name=_EFSAPI;Max Pool Size=100;Min Pool Size=5;Pooling=True"
          providerName="System.Data.SqlClient" />
  <!--外部介面-CDR凌群電子病歷系統連線設定-->
  <add name="CdrDBConnectionString"
        connectionString="Data Source=127.0.0.1;Initial Catalog=CDRDB;User ID=sa;Password=Admin@138;Application Name=_OPDAPI"
        providerName="System.Data.SqlClient" />
  <!--End ***************************************************************************************************************************************************************************-->

</connectionStrings>