<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

  <!--SyBaseDBConnectionString  SyBase-->
  <add name="SyBaseDBConnectionString"
        connectionString="Data Source=172.16.20.55;Port=5000;Database=NISDB;User Id=sa;Password=syscom@123;"
        providerName="Sybase.Data.AseClient" />

  <!--公司內部開發機-->
  <add name="NisDBConnectionString"
          connectionString="Data Source=172.16.20.55;Initial Catalog=NISDB;User ID=sa;Password=syscom@123;Application Name=NISAPI"
          providerName="System.Data.SqlClient" />

  <add name="OpdDBConnectionString"
        connectionString="Data Source=172.16.20.55;Initial Catalog=OPDDB;User ID=sa;Password=syscom@123;Application Name=NISAPI"
        providerName="System.Data.SqlClient" />

  <add name="EisDBConnectionString"
        connectionString="Data Source=172.16.20.55;Initial Catalog=EISDB;User ID=sa;Password=syscom@123;Application Name=NISAPI"
        providerName="System.Data.SqlClient" />

  <add name="PcsDBConnectionString"
        connectionString="Data Source=172.16.20.55;Initial Catalog=PCSDB;User ID=sa;Password=syscom@123;Application Name=NISAPI"
        providerName="System.Data.SqlClient" />

  <add name="ArmDBConnectionString"
        connectionString="Data Source=172.16.20.55;Initial Catalog=NISDB;User ID=sa;Password=syscom@123;Application Name=SyscomAPI"
        providerName="System.Data.SqlClient" />

  <add name="PubDBConnectionString"
        connectionString="Data Source=172.16.20.55;Initial Catalog=NISDB;User ID=sa;Password=syscom@123;Application Name=SyscomAPI;Max Pool Size=50;Min Pool Size=5;Pooling=True"
        providerName="System.Data.SqlClient" />

  <add name="SerialNoConnectionString"
      connectionString="Data Source=172.16.20.55;Initial Catalog=NISDB;User ID=sa;Password=syscom@123;Application Name=SyscomAPI;Max Pool Size=50;Min Pool Size=5;Pooling=True"
      providerName="System.Data.SqlClient" />


  <!--新增備份檔連線設定-->
  <add name="BKDBConnectionString"
       connectionString="Data Source=172.16.20.55;Initial Catalog=NISDB;User ID=sa;Password=syscom@123;Application Name=SyscomAPI"
       providerName="System.Data.SqlClient" />

  <!--DB LOG 連線設定 by Roger-->
  <add name="DBLogConnectionString"
        connectionString="Data Source=172.16.20.55;Initial Catalog=NISDB;User ID=sa;Password=syscom@123;Max Pool Size=50;Min Pool Size=5;Pooling=True"
        providerName="System.Data.SqlClient" />

</connectionStrings>