<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="wcfdomain" value="192.168.11.61" />
    <add key="wcfusername" value="Administrator" />
    <add key="wcfpassword" value="reg@0415" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--cleint端暫存的資料夾-->
    <add key="TempFile" value="C:\TempFile\" />
    <!--最大日期設"2910/12/31",因應最大的民國年"999/12/31"的關係-->
    <add key="maxDefaultDate" value="2910/12/31" />
    <!--影像資料設定-->
    <add key="Working_FilePath" value="C:\TempFile\" />
    <!--逆時針90度  順時針90度  順時針180度  不旋轉-->
    <add key="Default_Rotation" value="逆時針90度" />
    <!--檔案系統八碼，如果是 EMR 系統，這裡填入八碼病歷號 -->
    <add key="FileSystem_Type" value="HEMFilUP" />
    <!--起啟之截取影像縮放比例-->
    <add key="Init_EnLarge" value="70%" />
    <!-- 判斷院區(TRUE:成大醫院；FALSE：成大醫院斗六分院)-->
    <add key="general" value="TRUE" />
    <!-- 判斷DateTimePicker預設顯示(TRUE:西元年；FALSE：民國年)-->
    <add key="isDefaultDisplayUS" value="FALSE" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUclService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
                    bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IRegService" closeTimeout="00:01:00"
        openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
        bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
        maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
        messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
        allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>

        <binding name="WSHttpBinding_IRegServiceL" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
     bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
     messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
     allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
        
        <binding name="WSHttpBinding_IPubService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
          bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>

      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1224/UclService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUclService"
                contract="UclServiceReference.IUclService" name="WSHttpBinding_IUclService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:1224/RegService.svc" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IRegService" contract="RegServiceReference.IRegService"
          name="WSHttpBinding_IRegService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:1224/RegServiceL.svc" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IRegServiceL" contract="RegServiceLReference.IRegServiceL"
    name="WSHttpBinding_IRegServiceL">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <endpoint address="http://localhost:1224/PubService.svc" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IPubService" contract="PubServiceReference.IPubService"
    name="WSHttpBinding_IPubService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>
</configuration>
