<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

  <!--SyBaseDBConnectionString  SyBase-->
  <add name="SyBaseDBConnectionString"
        connectionString="Data Source=192.168.20.12\KMUHDEV;Port=5000;Database=NISDB;User Id=sqlpro;Password=his@138;"
        providerName="Sybase.Data.AseClient" />

  <!-- 高市聯醫舊系統OracleDB連線  暫時改成連正式的病人，因為要進行測試-->
  <add name="OracleDBConnectionString"
       connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.210.11)(PORT = 1521))(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.210.12)(PORT = 1521))(LOAD_BALANCE = yes)(FAILOVER = yes))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = KMUH)(FAILOVER_MODE =(TYPE = SELECT)(METHOD = BASIC)(RETRIES = 180)(DELAY = 5))));User ID=syscom_sys;Password=sys!456" />
 

  <!--公司內部開發機-->
  <add name="EmrDBConnectionString"
          connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
          providerName="System.Data.SqlClient" />
  
  <add name="NisDBConnectionString"
          connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
          providerName="System.Data.SqlClient" />

  <add name="OpdDBConnectionString"
        connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
        providerName="System.Data.SqlClient" />


  <add name="EisDBConnectionString"
        connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
        providerName="System.Data.SqlClient" />


  <add name="PcsDBConnectionString"
        connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=NISAPI"
        providerName="System.Data.SqlClient" />

  <add name="KmuhOpdDBConnectionString"
      connectionString="Data Source=192.168.20.120;Initial Catalog=MultiMedia;User ID=sa;Password=p@ssw0rd;Application Name=NISAPI"
      providerName="System.Data.SqlClient" />

  <add name="ArmDBConnectionString"
        connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI"
        providerName="System.Data.SqlClient" />
  
    <!--檢傷連線設定-->
  <add name="TtasDBConnectionString"
      connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=TTASDBv01;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI"
      providerName="System.Data.SqlClient" />


  <add name="PubDBConnectionString"
        connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI;Max Pool Size=50;Min Pool Size=5;Pooling=True"
        providerName="System.Data.SqlClient" />

  <add name="SerialNoConnectionString"
      connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI;Max Pool Size=50;Min Pool Size=5;Pooling=True"
      providerName="System.Data.SqlClient" />


  <!--新增備份檔連線設定-->
  <add name="BKDBConnectionString"
       connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI"
       providerName="System.Data.SqlClient" />

  <!--DB LOG 連線設定 by Roger-->
  <add name="DBLogConnectionString"
        connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Max Pool Size=50;Min Pool Size=5;Pooling=True"
        providerName="System.Data.SqlClient" />
  
  <!--Begin ***************************************************************************************************************************************************************************-->
  <!--電子表單(EFS)-->
  <add name="EfsDBConnectionString"
          connectionString="Data Source=192.168.15.132;Initial Catalog=EFSDB;User ID=sqlpro;Password=his@138;Application Name=_EFSAPI;Max Pool Size=100;Min Pool Size=5;Pooling=True"
          providerName="System.Data.SqlClient" />
  <!--外部介面-CDR凌群電子病歷系統連線設定-->
  <add name="CdrDBConnectionString"
        connectionString="Data Source=127.0.0.1;Initial Catalog=CDRDB;User ID=sa;Password=Admin@138;Application Name=_OPDAPI"
        providerName="System.Data.SqlClient" />
  <!--End ***************************************************************************************************************************************************************************-->

  <!--新增歷史資料庫連線設定-->
  <add name="HistoryDBConnectionString"
       connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HIS_HistoryDB;User ID=sqlpro;Password=his@138;Application Name=SyscomAPI"
       providerName="System.Data.SqlClient" />

  <!--檢驗系統(LIS)-->
  <add name="LisDBConnectionString"
          connectionString="Data Source=192.168.20.12\KMUHDEV;Initial Catalog=HISDB;User ID=sqlpro;Password=his@138;Application Name=LISAPI"
          providerName="System.Data.SqlClient" />
  
</connectionStrings>